.container {
    .searchPromotion {
        .searchPromotionTtile {
            line-height: .8rem;
            padding: 0 .3rem;
            font-size: .24rem;
            text-align: left;
            color: #3c3c3c;
        }
    }

}