.nologin {
    >div {
        font-size: .22rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 1.04rem;
        padding: 0 .56rem 0 .32rem;
        position: relative;
        color: rgba(0, 0, 0, .54);

        >span {
            font-size: .32rem;
            color: rgba(0, 0, 0, .87);
            display: block;
            text-align: left;
            flex: 1 1 auto;
        }

        >em {
            font-style: normal;
            font-size: .24rem;
            text-align: right;
            flex: 1 1 auto;
        }

        &::after {
            content: "";
            position: absolute;
            right: 5.12px;
            right: .32rem;
            top: 50%;
            width: 2.88px;
            width: .18rem;
            height: 2.88px;
            height: .18rem;
            border-left: 1px solid currentColor;
            border-top: 1px solid currentColor;
            transform: translate3d(0, -50%, 0) rotate(135deg);

        }
    }
}

.noitems {
    font-size: 0.22rem;
    background: #ebebeb;
    padding: .2rem;
    line-height: 1.15;
    text-align: center;

    >div {

        display: inline;
        font-size: .24rem;
        line-height: 1.15;
        text-decoration: none;
        text-align: center;
        box-sizing: border-box;

        >span {
            display: inline-block;
            line-height: .8rem;
            background: url("../../../assets/image/cartIco.png") no-repeat 0;
            background-size: auto 100%;
            padding: 0 .16rem 0 .96rem;
            color: rgba(0, 0, 0, .27);
        }

        >em {
            display: inline-block;
            border: 1px solid rgba(0, 0, 0, .15);
            box-sizing: border-box;
            height: .5rem;
            line-height: .5rem;
            padding: 0 .24rem;
            color: rgba(0, 0, 0, .87);
            font-style: normal;
        }
    }
}