.pageWrap{
    margin-top: 1.39rem;
    .bodys{
        .swiperContainer{
            width: 100%;
            height: auto;
            .swiperWrapper{
                .swiperSlide{

                }
            }
        }
    }
}