.headerContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #f2f2f2;
  .appHeaderTitle{
    font-size: .3rem;
  }
}
