.container {
  padding-top: .2rem;
  padding-bottom: .3rem;
  .navItem {
    font-size: 0.34rem;
    height: 0.9rem;
    line-height: 0.9rem;
    overflow: hidden;
    text-align: center;
    transition: transform 0.1s linear;
    transform-origin: center center;
    transform: scale(0.76);
    color: #3c3c3c;
  }
  .navItemActive {
    color: #fb7d34;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
